.inputRuler {
  :global {
    .ant-slider .ant-slider-track {
      background: none;
    }
    .ant-slider-horizontal .ant-slider-rail {
      height: 2px;
      background-color: var(--primary-text);
    }
    .ant-slider-dot {
      background-color: var(--primary-text);
      border: none !important;
      width: 1px;
      height: 12px;
      inset-block-start: -4.5px;
      border-radius: 0px;
    }

    .ant-slider-dot:nth-child(10n) {
      height: 19px;
      inset-block-start: -8.5px;
    }
    .ant-slider-handle {
      width: 12px;
      height: 12px;
      // inset-block-start: 0;
    }
    .ant-slider .ant-slider-handle::after {
      width: 12px;
      height: 12px;
    }
    .ant-slider .ant-slider-handle:hover::after,
    .ant-slider .ant-slider-handle:active::after,
    .ant-slider .ant-slider-handle:focus::after {
      box-shadow: none !important;
    }
    .ant-slider .ant-slider-handle::after {
      box-shadow: none !important;
      background-color: #2c8d27 !important;
      inset-inline-start: 0px !important;
      inset-block-start: -2px !important;
      // width: 12px;
      // height: 12px;
    }
    .ant-slider-horizontal .ant-slider-mark {
      top: 20px;
    }
  }
}
.inputRulerSecondary {
  :global {
    .ant-slider .ant-slider-track {
      background: none;
    }
    .ant-slider-horizontal .ant-slider-rail {
      height: 2px;
      background-color: var(--primary-text);
    }
    .ant-slider-dot {
      background-color: var(--primary-text);
      border: none !important;
      width: 1px;
      height: 12px;
      inset-block-start: -4.5px;
      border-radius: 0px;
    }

    .ant-slider-dot:nth-child(10n) {
      height: 19px;
      inset-block-start: -8.5px;
    }
    .ant-slider-handle {
      width: 12px;
      height: 12px;
      // inset-block-start: 0;
    }
    .ant-slider .ant-slider-handle::after {
      width: 12px;
      height: 12px;
    }
    .ant-slider .ant-slider-handle:hover::after,
    .ant-slider .ant-slider-handle:active::after,
    .ant-slider .ant-slider-handle:focus::after {
      box-shadow: none !important;
    }
    .ant-slider .ant-slider-handle::after {
      box-shadow: none !important;
      background-color: var(--secondary) !important;
      inset-inline-start: 0px !important;
      inset-block-start: -2px !important;
      // width: 12px;
      // height: 12px;
    }
    .ant-slider-horizontal .ant-slider-mark {
      top: 20px;
    }
    // .ant-slider-horizontal .ant-slider-handle {
    //   inset-block-start: -1px !important;
    // }
  }
}
