@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
html * {
  font-family: 'Noto Sans JP', sans-serif !important;
  color: var(--primary-text);
}
span {
  color: inherit;
}
input::placeholder {
  color: var(--primary);
}
input {
  font-family: 'Noto Sans JP', sans-serif !important;
}
::placeholder {
  color: var(--tertiary) !important;
}
.ant-select-selection-placeholder {
  color: var(--tertiary) !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
@page {
  size: A4;
  margin: 30px 24px;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
    // padding-top: 30px;
  }
}
