@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Noto Sans JP', sans-serif;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
  line-height: 1.5;
  font-weight: 400;
  --bg-color: #e6e92c;
  --primary: #2c8d27;
  --primary-light: #f2f8f2;
  --secondary: #ff7715;
  --secondary-light: rgba(255, 119, 21, 0.2);
  --secondary-thin: #fffaf2;
  --secondary-mono: #fffbf7;
  --tertiary: #888888;
  --tertiary-light: #d9d9d9;
  --tertiary-thin: #f6f6f6;
  --primary-text: #333333;
}
html * {
  font-family: 'Noto Sans JP', sans-serif !important;
  color: var(--primary-text);
}
span {
  color: inherit;
}
input::placeholder {
  color: var(--primary);
}
input {
  font-family: 'Noto Sans JP', sans-serif !important;
}
::placeholder {
  color: var(--tertiary) !important;
}
.ant-select-selection-placeholder {
  color: var(--tertiary) !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100%; */
}

.ant-spin .ant-spin-dot-item {
  background-color: var(--secondary);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  /* ... the rest of the rules ... */
}
/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
